/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Custom designs */
@import url('components/banner.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/container.css');
@import url('components/footer.css');

/* Utilities */
/* styles.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
}

@media(max-width: 900px) {
  .card {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards {
    justify-content: space-around;
  }
}


.card-banner {
  padding: 200px 0;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.banner h1 {
  color: white;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

.btn-apply {
  background-color: #1EDD88;
  color: white;
  padding: 16px 36px;
  border-radius: 50px;
  display: inline-block;
}



.btn-secondary {
  border: 1px solid #1EDD88;
  padding: 8px 16px;
  border-radius: 50px;
  color: #1EDD88;
}



.card img {
 width: 150px;
}

.card {
  border: 1px solid rgb(230, 230, 230);
    width: 230px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230, 230, 230);
    text-align: center;
 }



 .card p {
  opacity: .5;
 }


 .cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.container {
  width: 900px;
  margin: auto;
}


.text-center {
  text-align: center;
}

.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
}

.footer a {
  font-size: 30px;
  color:  #1EDD88;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}
